*, *:before, *:after
{
    box-sizing: border-box;
}

.outerFrame
{
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
        
    padding: 0px;
    margin: 0px;

    border-radius: 6px;
    border: none;

    box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.8),
                1px 1px 4px 0px rgba(255, 255, 255, 0.3);
}

.innerFrame
{
    box-sizing: border-box;

    /* place-items: center stretch;
    place-content: space-between space-between; */
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    padding: 0px;
    margin: 0px;

    background-origin: border-box;

    border-radius: 4px;
    /* border: none; */
    border: solid 2px hsl(0, 0%, 10%);
}

.whiteKey
{
    /* background: linear-gradient(
                                    135deg,
                                    hsl(215, 6%, 33%),
                                    hsl(215, 6%, 30%) 20%,
                                    hsl(215, 6%, 28%) 50%,
                                    hsl(215, 6%, 25%)
                                ); */

    background: linear-gradient(
                                    135deg,
                                    hsl(215, 6%, 65%),
                                    hsl(215, 6%, 55%) 20%,
                                    hsl(215, 6%, 45%) 50%,
                                    hsl(215, 6%, 40%)
                                );

    box-shadow: inset 2px 2px 4px -2px hsla(0, 0%, 80%, 0.8),
                inset -1px -1px 4px 0px hsla(0, 0%, 10%, 0.5);

    color: hsl(0, 0%, 5%);
}

.whiteKey:hover
{
    background: linear-gradient(
                                    135deg,
                                    hsl(215, 6%, 45%),
                                    hsl(215, 6%, 40%) 20%,
                                    hsl(215, 6%, 30%) 50%,
                                    hsl(215, 6%, 25%)
                                );
    /* box-shadow: inset 2px 2px 4px -1px hsla(0, 0%, 80%, 0.8),
                inset -1px -1px 4px 0px hsla(0, 0%, 10%, 0.5); */

    color: hsl(0, 0%, 80%);
}

.blackKey
{
    background: linear-gradient(
                                    135deg,
                                    hsl(0, 0%, 30%),
                                    hsl(0, 0%, 20%) 20%,
                                    hsl(0, 0%, 15%) 60%,
                                    hsl(0, 0%, 10%)
                                );

    box-shadow: inset 2px 2px 4px -2px hsla(0, 0%, 50%, 0.7),
                inset -1px -1px 4px 0px hsla(0, 0%, 5%, 0.9);

    color: hsl(0, 0%, 65%);
}

.blackKey:hover
{
    background: linear-gradient(
                                    135deg,
                                    hsl(0, 0%, 45%),
                                    hsl(0, 0%, 33%) 20%,
                                    hsl(0, 0%, 30%) 60%,
                                    hsl(0, 0%, 20%)
                                );

    /* box-shadow: inset 2px 2px 4px -2px hsla(0, 0%, 50%, 0.7),
                inset -1px -1px 4px 0px hsla(0, 0%, 5%, 0.9); */

    color: hsl(0, 0%, 75%);
}